{% extends 'base.html' %} {% block content %}
<section class="section">
  <div class="container">
    <!-- ... -->
    <form id="id_password_change_form" class="form-signin" method="POST">
      {% csrf_token %}

      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input mt-3"
            type="password"
            name="old_password"
            id="id_old_password"
            placeholder="Old Password"
            required="true"
          />
          <span class="icon mt-3 is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input mt-3"
            type="password"
            name="new_password1"
            id="id_new_password1"
            placeholder="New Password"
            required="true"
          />
          <span class="icon mt-3 is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input mt-3"
            type="password"
            name="new_password2"
            id="id_new_password2"
            placeholder="Confirm Password"
            required="true"
          />
          <span class="icon mt-3 is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      {% for field in form%} {% for error in field.errors %}
      <p style="color: red">{{error}}</p>
      {% endfor %} {% endfor %}

      <div class="field is-grouped mt-5">
        <div class="control">
          <button class="button is-link" type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock content %}
