{% extends 'base.html' %}
 
{% block content %}
<div class="columns is-mobile">
 <div class="column is-mobile is-5 is-offset-3">
 
   <div class="box  has-background-primary mt-5">
     <form class="control" method="POST"> {% csrf_token %}
       <div class="field">
         <label class="label">Email</label>
         <div class="control has-icons-left has-icons-right">
           <input class="input is-rounded" name="email" id="inputEmail" type="email" placeholder="e.g me@me.com">
           <span class="icon is-small is-left">
             <i class="fas fa-envelope"></i>
           </span>
         </div>
       </div>
 
       <div class="field">
         <label class="label">Username</label>
         <div class="control has-icons-left has-icons-right">
           <input class="input is-rounded " name="username" id="inputUsername" type="text"
             placeholder="e.g Alex Smith">
           <span class="icon is-small is-left">
             <i class="fas fa-user"></i>
           </span>
         </div>
       </div>
 
       <div class="field">
         <label class="label">Password</label>
         <div class="control has-icons-left has-icons-right">
           <input class="input is-rounded" type="password" name='password1' id="inputPassword1"
             placeholder="Password">
           <span class="icon is-small is-left">
             <i class="fas fa-lock"></i>
           </span>
         </div>
       </div>
 
       <div class="field">
         <label class="label">confirm-Password</label>
         <div class="control has-icons-left has-icons-right">
           <input class="input is-rounded" name='password2' id="inputPassword2" type="password" placeholder="Password">
           <span class="icon is-small is-left">
             <i class="fas fa-lock"></i>
           </span>
         </div>
       </div>
 
       {% for field in registration_form %}
       <p>
         {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
         {% endfor %}
       </p>
       {% endfor %}
       {% if registration_form.non_field_errors %}
       <div style="color: red">
         <p>{{registration_form.non_field_errors}}</p>
       </div>
 
       {% endif %}
 
       <div class="field is-grouped">
         <div class="control">
           <button class="button is-mobile button is-info is-medium is-rounded is-hovered" type="submit">Register</button>
         </div>
       </div>
     </form>
   </div>
 </div>
</div>
</div>
{% endblock content %}
